<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Death Count</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-card *ngFor="let death of (deaths | async)">
		<!-- Showing the death count number -->
		<ion-item lines="none" class="movie-info">
			<ion-icon color="tertiary" name="skull" slot="start"></ion-icon>
			Death-Count : {{ death.deathCount }}
		</ion-item>
	</ion-card>
    <ion-list class="bg-transparent">
         
</ion-list>
    <ion-infinite-scroll threshold="5" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
				<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
				</ion-infinite-scroll-content>
			</ion-infinite-scroll>
</ion-content>