<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ quote?.author }}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>

	<ion-content>
		<ion-card *ngIf="quote">

			<ion-item class="movie-info" lines="none">
				<ion-icon color="tertiary" name="key-outline" slot="start"></ion-icon>
				ID : {{ quote.quote_id }}

			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="tertiary" name="person-outline" slot="start"></ion-icon>
				Author : {{ quote.author }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="tertiary" name="film-outline" slot="start"></ion-icon>
				Series : {{ quote.series }}
			</ion-item>
			<ion-infinite-scroll threshold="5" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
				<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
				</ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</ion-card>
	</ion-content>