<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ quote?.author }}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>

	<ion-content>
		<ion-card *ngIf="quote">

			<ion-item class="movie-info" lines="none">
				<ion-icon color="success" name="key-outline" slot="start"></ion-icon>
				ID : {{ quote.quote_id }}
				<!-- getting the info, each one with one icon -->
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="success" name="person-outline" slot="start"></ion-icon>
				Author : {{ quote.author }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="success" name="film-outline" slot="start"></ion-icon>
				Series : {{ quote.series }}
			</ion-item>